.git
.idea
node_modules
venv

documents/
notebooks/

sea_app/.idea/
sea_app/node_modules/
sea_app/dist

scratch/
documents/
sea/scratch.py

__pycache__/
*.py[cod]
*$py.class

venv/
logs/*.log
.env
.prod.env
*.sqlite3
*.log
profile.json
